.root {
  --gap: 20px;
  --item-margin: calc(var(--gap) / 2);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
  box-sizing: border-box;
}
.root.compact {
  justify-content: flex-start;
}
.root.root.inlined {
  justify-content: flex-start;
}

.item {
  display: flex;
  flex-basis: calc(50% - var(--item-margin));
  gap: 20px;
}
.root.compact .item {
  flex-basis: calc(33.3333% - var(--item-margin));
  align-items: center;
}
.root.inlined .item {
  flex-basis: auto;
}

@media (max-width: 575px) {
  .root {
    flex-direction: column;
  }

  .item {
    flex-basis: 100%;
    margin-right: 0;
  }
}
