.root {
  --gap: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  box-sizing: border-box;
}
.root.inlined {
  --gap: 20px;
}

.item {
  display: flex;
  flex-basis: 33.3333%;
  gap: var(--gap);
}
.root.inlined .item {
  flex-basis: auto;
}

@media (max-width: 575px) {
  .root {
    flex-direction: column;
  }
  .root.inlined {
    flex-direction: row;
  }

  .item {
    flex-basis: 100%;
  }
  .root.inlined .item {
    flex-basis: auto;
  }
}
