.root {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-font-size);
  font-weight: 500;
  padding: 9px 18px;
  color: var(--primary-color);
  outline: none;
  border: none;
  background-color: var(--faded-primary-color);
  border-radius: var(--default-border-radius);
  transition-property: border-color, background-color, color, transform;
  transition-duration: 0.2s;
}

/* .root:hover {
  color: var(--active-primary-color);
} */

.root:active {
  transform: scale(0.95);
}

.root.secondary {
  background-color: transparent;
  color: var(--text-color-normal);
}
