.root {
  display: flex;
  align-items: center;
}

.photo {
  background-image: url(../../assets/images/julien.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  min-width: 200px;
  height: 200px;
  min-height: 200px;
  border-radius: 50%;
  margin-left: 50px;
  box-shadow: 0 0 30px hsl(0, 0%, 90%);
}

.csm {
  display: flex;
  align-items: center;
  margin: calc(var(--spacing-unit) * 3) 0;
  gap: calc(var(--spacing-unit) * 2);
}

.csm img {
  width: 100px;
}

@media (max-width: 575px) {
  .root {
    flex-direction: column-reverse;
  }

  .photo {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
