.root {
  display: flex;
  align-items: center;
}

.photo {
  --size: 300px;

  background-image: url(../../assets/images/julien.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  border-radius: 50%;
  margin-left: 50px;
  box-shadow: #6b1fff90 5px 5px, #6b1fff70 10px 10px, #6b1fff50 15px 15px,
    #6b1fff30 20px 20px, #6b1fff10 25px 25px;
  transition: box-shadow 0.4s;
}
.photo:hover {
  cursor: grab;
  box-shadow: none;
}
.photo:active {
  cursor: grabbing;
}

.csm {
  display: flex;
  align-items: center;
  margin: calc(var(--spacing-unit) * 3) 0;
  gap: calc(var(--spacing-unit) * 2);
}

.csm img {
  width: 100px;
}

@media (max-width: 575px) {
  .root {
    flex-direction: column-reverse;
  }

  .photo {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
