.root {
  position: relative;
  width: 100%;
  display: flex;
  border-radius: var(--default-border-radius);
  background-color: #011627;
  overflow: hidden;
  box-sizing: border-box;
}

.actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
}

.files {
  display: flex;
  flex: 1;
  padding: 10px 0 0 10px;
}

.files .file {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  border-radius: var(--default-border-radius);
  background-color: #3b5061;
  height: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.files .file:not(:last-child) {
  margin-right: 10px;
}

.files .file:hover,
.files .file.active {
  background-color: var(--active-primary-color);
}

.files .file .name {
  color: #fff;
}

.content {
  display: block;
  flex: 1;
  padding: 20px;
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 1px;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-color: var(--scrollbar-editor-thumb-background)
    var(--scrollbar-background);
  scrollbar-width: var(--scrollbar-width);
}

.content::-webkit-scrollbar {
  background: var(--scrollbar-background);
  background-color: var(--scrollbar-background);
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-editor-tracker-background);
  background-color: var(--scrollbar-background);
  border-radius: var(--scrollbar-border-radius);
}

/* .content::-webkit-scrollbar-track:hover {
  background: var(--scrollbar-editor-tracker-hover-background);
  background-color: var(--scrollbar-editor-tracker-hover-background);
} */

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-editor-thumb-background);
  background-color: var(--scrollbar-editor-thumb-background);
  border-radius: var(--scrollbar-border-radius);
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-editor-thumb-hover-background);
  background-color: var(--scrollbar-editor-thumb-hover-background);
}

.code {
  flex: 1;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  line-height: 1.5;
  hyphens: none;
}
