.root {
  --size: 50px;

  display: inline-block;
  min-width: var(--size);
  width: var(--size);
  max-width: var(--size);
  min-height: var(--size);
  height: var(--size);
  max-height: var(--size);
}
.root.small {
  --size: 35px;
}
