.root {
  display: flex;
  flex-wrap: wrap;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.openIcon,
.closeIcon {
  display: none;
  width: 25px;
  height: 25px;
  fill: var(--text-color-normal);
}

@media (max-width: 767px) {
  .root.opened {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    padding: 30px;
    z-index: 1000;
  }

  .item {
    display: none;
  }

  .root.opened .item {
    display: block;
    text-align: center;
    margin-right: 0;
    margin-top: 20px;
  }

  .root.opened .item button {
    font-size: var(--subtitle-font-size);
  }

  .openIcon,
  .closeIcon {
    display: block;
  }

  .closeIcon {
    align-self: flex-end;
  }

  .wideMenu {
    display: block;
  }
}
