.root {
  display: block;
  width: 100%;
  max-width: var(--layout-content-max-width);
  margin: 0 auto;
}

.root.compact {
  max-width: var(--layout-content-compact-max-width);
}

.root.headerSpacing {
  padding-top: var(--header-content-spacing);
}
