.cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* flex: 1; */
  flex-basis: 50%;
  height: 265px;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s cubic-bezier(0.16, 0.58, 0.59, 0.82);
}

.cards .card:not(:last-child) {
  margin-right: 10px;
}

.cards .card:hover {
  transform: scale(0.96);
}

.cards .card .icon {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  align-self: center;
  margin: auto;
  fill: #fff;
}

.cards .card .title {
  margin: 0 0 10px 0;
  color: #fff;
}

.cards .card.buttons {
  background-color: #8f51f7;
  background-image: linear-gradient(147deg, #7128ea 0%, #5309a7 74%);
}
.cards .card.buttons .description {
  color: #dbc9ff;
}
.cards .card.buttons .icon {
  max-width: 120px;
  width: 120px;
  max-height: 120px;
  height: 120px;
}

.cards .card.inputs {
  background-image: linear-gradient(-225deg, #1b0e8c 0%, #020154 100%);
}
.cards .card.inputs .description {
  color: #bfbbff;
}
.cards .card.inputs .icon {
  max-width: 120px;
  width: 120px;
  max-height: 120px;
  height: 120px;
}

.cards .card.typography {
  background-image: linear-gradient(-225deg, #273238 0%, #101619 100%);
}
.cards .card.typography .description {
  color: #b9b9b9;
}

.cards .card.links {
  background-image: linear-gradient(147deg, #5b58fd 0%, #3b2eff 74%);
}
.cards .card.links .description {
  color: #c0c2ff;
}

.cards .card.cardsCard {
  background-image: linear-gradient(-225deg, #f1f1f1 0%, #eeee 100%);
}
.cards .card.cardsCard .title {
  color: var(--text-color-normal);
}
.cards .card.cardsCard .description {
  color: #a2a2a2;
}
.cards .card.cardsCard .icon {
  fill: none;
  fill: #273238;
}

.cards .card.messages {
  background-image: linear-gradient(-225deg, #02afa8 0%, #019691 100%);
}
.cards .card.messages .description {
  color: #1affea;
}

@media (max-width: 767px) {
  .cards {
    flex-direction: column;
  }

  .cards .card {
    width: 100%;
    margin-right: 0;
  }

  .cards .card:not(:last-child) {
    margin-bottom: 20px;
  }
}
