.cardsContainer {
  margin-right: -20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cards {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.cards.vertical {
  flex-direction: column;
}

.cards .card {
  flex: 1;
  width: auto;
  margin: 0 20px 20px 0;
}

.cards .card .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards .card .icon {
  fill: #fff;
}

.cards .card .title {
  color: #fff;
}

/* Buttons card */
.cards .card.buttons {
  background-color: #5309a7;
  background-image: linear-gradient(147deg, #7128ea 0%, #5309a7 74%);
}
.cards .card.buttons .description {
  color: #dbc9ff;
}
.cards .card.buttons .icon {
  width: 120px;
  height: 120px;
}

/* Inputs card */
.cards .card.inputs {
  background-color: #020154;
  background-image: linear-gradient(-225deg, #1b0e8c 0%, #020154 100%);
}
.cards .card.inputs .description {
  color: #bfbbff;
}
.cards .card.inputs .icon {
  width: 120px;
  height: 120px;
}

/* Typography card */
.cards .card.typography {
  background-color: #101619;
  background-image: linear-gradient(-225deg, #273238 0%, #101619 100%);
}
.cards .card.typography .description {
  color: #b9b9b9;
}

/* Links card */
.cards .card.links {
  background-color: #3b2eff;
  background-image: linear-gradient(147deg, #5b58fd 0%, #3b2eff 74%);
}
.cards .card.links .description {
  color: #c0c2ff;
}

/* Cards card */
.cards .card.cardsCard {
  background-color: #eae8e8ee;
  background-image: linear-gradient(-225deg, #f1f1f1 0%, #eae8e8ee 100%);
}
.cards .card.cardsCard .title {
  color: var(--text-color-normal);
}
.cards .card.cardsCard .description {
  color: #848484;
}
.cards .card.cardsCard .icon {
  width: 120px;
  height: 120px;
  fill: #000;
}

/* Messages card */
.cards .card.messages {
  background-color: #529fff;
  background-image: linear-gradient(-225deg, #63a0ec 0%, #529fff 100%);
}
.cards .card.messages .description {
  color: #d3e6ff;
}
.cards .card.messages .icon {
  width: 80px;
  height: 80px;
}

.w33 {
  flex-basis: 33.3333%;
}

.w50 {
  flex-basis: 50%;
}

@media (max-width: 767px) {
  .cardsContainer {
    margin-right: 0;
  }

  .cards {
    flex-direction: column;
  }

  .cards .card {
    width: 100%;
    margin-right: 0;
  }

  .cards .card:not(:last-child) {
    margin-bottom: 20px;
  }
}
