.root {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-size: 60px;
}

.description {
  margin-top: 30px;
}

.description .element {
  /* font-size: 40px; */
  font-weight: 700;
  /* color: var(--text-color-normal); */
}

.description .element .highlight {
  color: var(--link-color);
}

.showMore {
  margin-top: 40px;
}

.showMore .emoji {
  display: inline-block;
  margin-right: 7px;
  font-size: 20px;
}

.showMore .link {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.photo {
  background-image: url(../../../assets/images/julien.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  min-width: 200px;
  height: 200px;
  min-height: 200px;
  border-radius: 50%;
  margin-left: 50px;
  align-self: center;
  box-shadow: 0 0 15px hsl(0, 0%, 88%);
}
