.root {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-size: 80px;
  background: rgb(39, 50, 56);
  background: linear-gradient(
    91deg,
    #273238,
    #382079,
    #4d05e8,
    #2abb9b,
    #36d7b7
  );
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  animation: nameBackgroundAnimation 45s ease infinite;
}

@keyframes nameBackgroundAnimation {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}

.description {
  margin-top: 30px;
}

.description .element {
  font-weight: 700;
  font-size: 35px;
}

.description .element .highlight {
  color: var(--link-color);
}

.showMore {
  margin-top: 40px;
}

.showMore .button {
  font-size: 18px;
}

.photo {
  background-image: url(../../../assets/images/julien.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  min-width: 200px;
  height: 200px;
  min-height: 200px;
  border-radius: 50%;
  margin-left: 50px;
  align-self: center;
  box-shadow: 0 0 15px hsl(0, 0%, 88%);
}

@media (max-width: 767px) {
  .root {
    margin: 0 10px;
    flex-direction: column-reverse;
  }

  .name {
    font-size: 40px;
  }

  .description {
    margin-top: 20px;
  }

  .description .element {
    font-size: 20px;
  }

  .showMore {
    margin-top: 30px;
  }

  .showMore .link {
    font-size: 16px;
  }

  .name,
  .description,
  .showMore {
    text-align: center;
  }

  .photo {
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
