.experiences {
  display: flex;
  flex-direction: column;
  gap: var(--section-spacing);
}

.technicalEnvironment {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.technicalEnvironment .technology {
  margin-top: 20px;
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .technicalEnvironment .technology {
    flex-basis: 33.3333%;
  }
}

@media (max-width: 575px) {
  .technicalEnvironment .technology {
    flex-basis: 50%;
  }
}
