.root {
  flex: 1;
}

.metadata {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.metadata .item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.metadata .item .icon {
  width: 15px;
  height: 15px;
  fill: var(--text-color-secondary);
  flex-basis: 15px;
  margin-right: 7px;
}
