.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  border-radius: var(--default-border-radius);
  height: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.root:hover,
.root.active {
  background-color: var(--primary-color);
}

.name {
  color: #fff;
}
