.projects {
  display: flex;
}

.projects .project {
  display: flex;
  flex-basis: 50%;
  margin: 20px 20px 0 0;
}

.projects .project:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .projects {
    flex-direction: column;
  }

  .projects .project {
    flex-basis: 100%;
    margin-right: 0;
  }
}
