.root {
  padding: 40px 0;
  background-color: var(--footer-background-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social:not(:first-child) {
  margin-left: 35px;
}

.socialIcon {
  width: 25px;
  height: 25px;
}
