.root {
  display: flex;
  align-items: center;
}

.social {
  border: none;
  line-height: initial;
}

.social:not(:first-child) {
  margin-left: 35px;
}

.socialIcon {
  width: 25px;
  height: 25px;
}
