.root {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: var(--default-border-radius);
  box-sizing: border-box;
}
