.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-color-secondary);
}

.item {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.item .icon {
  display: inline-block;
  width: 15px;
  max-height: 15px;
  margin-right: 7px;
  fill: var(--text-color-secondary);
}
