.root {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .root {
    padding-left: var(--small-screens-main-content-padding);
    padding-right: var(--small-screens-main-content-padding);
  }
}
