@import "./assets/styles/imports.css";

* {
  outline: none;
}

html {
  /* avoid scrollbar shift */
  height: 100%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  -webkit-overflow-scrolling: touch;

  /* alternative */
  /* overflow-y: scroll; */
}

html.noscroll {
  overflow: hidden;
}

html,
body {
  min-height: 100%;
  background-color: var(--app-background-color);
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
