.root {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: background-color 0.2s, transform 0.2s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.root:hover,
.root.active {
  background-color: #f8f8f8;
}

.root.active {
  background-color: var(--faded-primary-color);
}

.root:active {
  transform: scale(0.9);
}

.root svg {
  width: 22px;
  height: 22px;
  fill: var(--inactive-color);
  transition: fill 0.2s;
}

.root:hover svg {
  fill: var(--primary-color);
}

.root.active svg {
  fill: var(--active-primary-color);
}
