a {
  color: var(--link-color);
  text-decoration: none;
  line-height: inherit;
  font-family: inherit;
  transition: border-color 0.3s, color 0.3s;
}

a:hover {
  color: var(--active-link-color);
  text-decoration: underline;
}
