/**
 * prism.js dark theme
 * @author Julien Sergent (maddeveloper)
 */

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-size: 0.87rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

code[class*="language-"] {
  color: #fff;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  box-shadow: none;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #aaabac;
}

.token.punctuation,
.token.operator {
  color: #f1828d;
}

.token.function {
  color: #7ef3f3;
}

.token.tag {
  color: #00ffae;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #0cf;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: #ffff7e;
}

.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
  color: #ffff7e;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #93a0ff;
}

.token.regex,
.token.important {
  color: #22a7f0;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: #ec644b;
}

/* Plugin styles: Diff Highlight */
pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
  background-color: rgba(255, 0, 0, 0.3);
  display: inline;
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
  background-color: rgba(0, 255, 128, 0.3);
  display: inline;
}
