.root {
  display: flex;
  width: 100%;
  min-height: 42px;
  align-items: center;
  justify-content: space-between;
  padding: var(--standard-padding-vertical) var(--standard-padding-horizontal);
  font-size: var(--text-font-size);
  color: var(--text-color-normal);
  background-color: var(--faded-grey-color);
  border-radius: var(--default-border-radius);
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
}

.content .icon {
  margin-right: 10px;
}

.action {
  margin-right: -7px;
}
